@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

:root {
    --clr-primary-design: #E6563B;
    --clr-primary-develop: #EB9D3A;
    --clr-primary-support: #7CB06C;
    --clr-primary-host: #00ABA9;

    --clr-primary-light: #F0F0F0;
    --clr-primary-darker: #E6E6E6;

    --ff-anton:'Anton', sans-serif;
    --ff-abel: 'Abel', sans-serif;

}

.anton {
    font-family: var(--ff-anton);
}

.abel {
    font-family: var(--ff-abel);
}

body{
    background-color: var(--clr-primary-light);
}

#main-title {
    font-size: 40px;
}

ul {
    list-style-type: none;
    padding: 0 0 0 1.65em;
    width: fit-content;
}

li {
    display: inline;
}

header {
    margin-top: 50px;
}

main {
    margin-top: 10em;
}

#from-utah {
     margin: 25px 0;
}

.main-img {
    width: 295px;
    border: 6px solid var(--clr-primary-darker)
}

#logo {
    width: 105px;
    height: 105px;
    margin: 0 auto;
}

#logo-div {
    margin-top: 2em;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
}

.main-circles {
    width: 129px;
    height: 129px;
    line-height: 115px;
    border-radius: 50%;
    text-align: center;
    color: white;
    border: 7px solid white;
    padding: 0;
    font-size: 1.4em;
    font-weight: bolder;
}

.main-circles-container {
    display: flex;
    justify-content: center;
}

.small-circles {
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 50%;
    text-align: center;
    color: black;
    font-size: 10px;
    font-weight: bolder;
    margin: .5em;
}

.featured-row {
    display: flex;
    align-items: baseline;
}

.projects-title {
    font-size: 15px;
}


.design {
    background-color: var(--clr-primary-design);
    font-family: var(--ff-anton);
}

.develop {
    background-color: var(--clr-primary-develop);
    font-family: var(--ff-anton);
}

.support {
    background-color: var(--clr-primary-support);
    font-family: var(--ff-anton);
}

.host {
    background-color: var(--clr-primary-host);
    font-family: var(--ff-anton);
}